<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--font awesome-->
    <script src="https://kit.fontawesome.com/d700b324e2.js" crossorigin="anonymous"></script>

    <!-- Public folder css-->
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>

<body>

    <!--navbar-->
    <div id="navAndBrand">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="list">
                            <li class="nav-item me-4">
                                <a class="nav-link active" aria-current="page" href="#">Login</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" href="#">Register</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" href="#">Add to Cart <i class="fas fa-cart-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <div id="main">
            <img src="https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png" slt="image">
            <h1>Discover the best food & drinks in Pune</h1>
            <form class="d-flex " id="searchBar">
                <input class="form-control me-5" type="search"
                    placeholder="&#xf002; Search for restaurant, cuisine or a dish" aria-label="Search">
            </form>
        </div>
    </div>

    <!--cards-->
    <div id="cards1">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22rem;">
                    <img src="/img/img.jpg" class="card-img-top">
                    <div class="card-body">
                        <h3>Order Online</h3>
                        <p class="card-text">Stay home and order to your doorstep</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22rem;">
                    <img src="/img/restaurant.jpg" class="card-img-top">
                    <div class="card-body">
                        <h3>Dining</h3>
                        <p class="card-text">View the city's favourite Dining venues</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22rem;">
                    <img src="/img/club.jpg" class="card-img-top">
                    <div class="card-body">
                        <h3>Nightlife and Clubs</h3>
                        <p class="card-text">Explore the city's top Nightlife outlets</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--collections-->
    <div id="collections">
        <h1>Collections</h1>
        <p>Explore curated lists of top restaurants, cafes, pubs, and bars in Pune, based on trends</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem; height: 20rem;">
                    <img src="/img/collection1.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem; height: 20rem;">
                    <img src="/img/collection2.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem; height: 20rem;">
                    <img src="/img/76d788a2600b609bb0a08443e03df95b.webp">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem; height: 20rem;">
                    <img src="/img/1be4127a9dfd23d89aec9ec57a8e71f7.webp">
                </div>
            </div>
        </div>
    </div>

    <a href="mailto:rohanparande007@gmail.com?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com."
     title="Share by Email">hello</a>

    <!--public folder js-->
    <script src="/js/app.js"></script>
    <!--Bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>