<section id="randomFood">
    <h2>Delivery Restaurants in Pune</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 20rem;">
                <img src="/img/online/cake.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Belgium Chocolate Cake</h5>
                    <p class="card-text">Bakery, Desserts</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 20rem;">
                <img src="/img/online/burger.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Bomber Big Rush Burger</h5>
                    <p class="card-text">Burger, Fast Food, Desserts</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/dosa.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vaishali Special Masala Dosa</h5>
                    <p class="card-text">South Indian, Street Food</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/cake.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Belgium Chocolate Cake</h5>
                    <p class="card-text">Bakery, Desserts</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/img/online/cake.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Belgium Chocolate Cake</h5>
                    <p class="card-text">Bakery, Desserts</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>