h1 {
    font-family: Okra, Helvetica, sans-serif;
}

#navAndBrand {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    /* opacity: ; */
    z-index: -10;
}

#nav {
    padding: 2% 7%;
}
#list li a {
    font-size: 20px;
    color: #fff;
}

#list button {
    color:#fff;
    margin-left: 10px;
}

#main {
    padding-bottom: 7%;
}

#main h1 {
    margin: 3% 0%;
    color: #fff;
    text-align: center;
}

#main img {
    display: block;
    margin: auto;
    width: 20%;
}

#searchBar {
    margin: 0% 18%;
}

#searchBar input {
    border-radius: 10px;
    padding: 1.5% 0%;
    font-size: 20px;
}

/* cards */
.row {
    margin-top: 5%;
    padding: 2% 7%;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card {
    border-radius: 20px;
}

.card:hover {
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
    transform: scale(1.02);
 }

@media (max-width: 650px) {
    #main img {
        width: 30%;
    }

    #searchBar {
        text-align: center;
        margin-left: 7%;
        width: 100%;
    }

    .row {
        align-items: center;
    }

    .row .card {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
        margin: 5% 0%;
        align-items: center;
    }
}