body {
    box-sizing: border-box;
    overflow-x: none;
}

h1 {
    font-family: Okra, Helvetica, sans-serif;
}

#navAndBrand {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    /* opacity: ; */
    z-index: -10;
}

#nav {
    padding: 2% 7%;
}

#list li a {
    font-size: 20px;
    color: #fff;
}

#list button {
    color: #fff;
    margin-left: 10px;
}

#main {
    padding-bottom: 7%;
}

#main h1 {
    margin: 3% 0%;
    color: #fff;
    text-align: center;
}

#main img {
    display: block;
    margin: auto;
    width: 20%;
}

#searchBar {
    margin: 0% 18%;
}

#searchBar input {
    border-radius: 10px;
    padding: 1.5% 0%;
    font-size: 20px;
}

/* cards */
#cards1 .row {
    margin: 5% 0%;
    padding: 2% 7%;
}

#cards1 .row a {
    text-decoration: none;
    color: #000;
}

#cards1 .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#cards1 .card {
    border-radius: 20px;
}

#cards1 .card:hover {
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
    transform: scale(1.02);
}

#collections {
    padding: 0% 7%;
    margin-bottom: 5%;
}

#collections p {
    font-size: 20px;
}

#collections .card {
    margin-top: 3%;
    border-radius: 5%;
}

#collections .card img {
    height: 20rem;
    border-radius: 5%;
}

/* Features */
#features {
    background-color: rgb(255, 251, 247);
    padding: 2% 7%;
    text-align: center;
}

#features .row h3 {
    color: #000;
}

#features i {
    color: rgb(253, 48, 68);
    margin-bottom: 20px;
}

#features p {
    color: rgb(54, 54, 54);
}

/* contacts */

#contact {
    margin: 3% 20%;
}

#contact .mob {
    width: 16rem;
    height: 20rem;
}

#contact button,
#emptyCart button,
.food-list button,
#login button {
    background-color: rgb(224, 53, 70);
    border-color: rgb(224, 53, 70);
}

/* footer */

#footer {
    padding: 3% 7%;
    font-size: 1.4rem;
    line-height: 2.1rem;
    background-color: rgb(228, 228, 228);
}

#footer h4,
p {
    font-size: 1rem;
}

#footer p {
    color: rgb(105, 105, 105);
}

#footer img {
    margin-left: 8%;
}

#footer .row {
    display: flex;
    float: none;
    justify-content: center;
}

/* layouts */
#header,
#lists {
    padding: 2% 7%;
}

#header img {
    width: 10%;
}

#header #navbarSupportedContent {
    margin: 0% 5%;
}

#header #searched {
    width: 40rem;
    height: 3.5rem;
    border: 1px solid rgba(149, 157, 165, 0.2);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 18px;
    border-radius: 10px;
}

#cart {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-top: auto;
}

#cartUpdateNumber {
    background-color: #000;
    color: #fff; 
    padding: 0px 7px; 
    border-radius: 100%; 
    position: absolute;
    top: 0;
}

/*cart*/
#emptyCart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#emptyCart img {
    margin-top: 50%;
    width: 15rem;
    height: 15rem;
}

#emptyCart p {
    padding-top: 5%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

#emptyCart button {
    font-size: 20px;
    color: #fff;
}

#cartWithItems {
    padding: 5% 10%;
}

/* list */
#lists .allList p {
    color: rgb(239, 79, 95);
}

#lists .allList p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(239, 79, 95);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#lists .allList p {
    transform: scaleX(1);
    transform-origin: bottom left;

}

#lists li {
    list-style: none;
    display: inline-block;
    margin-right: 2%;
}

#lists li p {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(105, 105, 105);
}

#lists li p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(2);
    height: 2px;
    bottom: 0px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#lists li p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#list li p:hover {
    color: rgb(239, 79, 95);
}

#lists li p::selection {
    color: rgb(239, 79, 95);
}

/* inspirational */

#inspirational {
    background-color: rgb(248, 248, 248);
    padding: 3% 7%;
}

#inspirational h5,
#topOrders h5 {
    text-align: center;
    color: rgb(54, 54, 54);
}

#inspirational .row,
#topOrders .row {
    margin-top: 4%;
}

#inspirational img,
#topOrders img {
    float: left;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 6%;
}

#topOrders img {
    border-radius: inherit;
    opacity: 1;

}

#topOrders {
    padding: 3% 7%;
}

/* orderOnline page */
#randomFood {
    padding: 2% 7%;
    text-align: start;
}

#randomFood a {
    background-color: rgb(239, 79, 95);
    border-color: rgb(239, 79, 95);
}

#randomFood img {
    width: 20rem;
    height: 15rem;
    border-radius: 3%;
}

#randomFood .card {
    margin-top: 3%;
    border: none;
}

#randomFood .card img:hover {
    border: 1px solid rgba(149, 157, 165, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#randomFood .card-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#randomFood h2 {
    margin-bottom: 3%;
}

/* end */
#end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 20%;
}

#end img {
    width: 9rem;
    height: 8rem;
}

/* login */
#login {
    background-color: #fff;
    margin: 8% 20%;
    border-radius: 4%;
    position: absolute;
    left: auto;
    width: 30%;
}

.forms {
    margin: 5% 10%;   
}

.forms a {
    color :rgb(239, 79, 95);
    text-decoration: none;
    font-size: 18px;
}

/* customer/order.ejs */
#headings {
    margin: 5% 10%;
}

/* tracking page */

#status {
    background-color: #fafafa;
    height: 100vh;
    padding-top: 5%;
    min-height: calc(100vh - 86px);
}

#status ul {
    margin-top: 2%;
    margin-left: 70px;
}

#status ul li {
    list-style: none;
    font-size: 20px;
    margin: 4% 0%;
}

#status ul li span {
    position: relative;
    padding-left: 20px;
}

#status ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
}

/* #status icons */
#status ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
}

#status ul li:nth-child(1) span:before {
    content:'\f46c';
}

#status ul li:nth-child(2) span:before {
    content:'\f560';
}

#status ul li:nth-child(3) span:before {
    content:'\f818';
}

#status ul li:nth-child(4) span:before {
    content:'\f0d1';
}

#status ul li:nth-child(5) span:before {
    content:'\f582';
}

#status ul li {
    position: relative;
}
/* //line */
#status ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 150%;
    background: #000;
    margin-top: 25px;
}

#status ul li:nth-child(5) span:after {
    box-shadow: 0 32px 1px 20px #fafafa;
}   

#status ul li small {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}

/* lines gray */
#status ul li.status-complete:before {
    background: gainsboro;
}

/* dots */
#status ul li.status-complete span:after {
    background: gainsboro;
}

/* text and icon*/
#status ul li.status-complete span {
    color: gainsboro;
}

/* current status */

/* current lines */
/* current dots */
#status ul li.current-status span:after {
    background: rgb(239, 79, 95);
}

/* current text and icon */
#status ul li.current-status span {
    color: rgb(239, 79, 95);
}

@media (max-width: 650px) {
    #main {
        text-align: center;
    }

    #main img {
        width: 30%;
    }

    #main h1 {
        font-size: 12px;
    }

    #searchBar {
        text-align: center;
        margin-left: 7%;
        width: 100%
    }

    #cards1 .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cards1 .row .card {
        align-items: center;
        transform: scale(0.8);
        margin: 5% 0%;
        align-items: center;
    }
}